<div class="main">
   
    <!-- Header -->
    <div class="textBox">
        <div class="textAnimation">
            CTNAS
        </div>
    </div>
    <!-- Describtion -->
    <div class="describtion">
        <h1>
            <span><p>Clevory Training Network Automation Solution, 
                        helps you manage your network in a matter of seconds.</p>
            </span>
        </h1>
    </div>
    <!-- Form box -->
    <div class="formBox">
        <h1>Credentials :</h1>
    <form class="was-validated" novalidate>
        <div class="form-group" >
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <div class="invalid-feedback">Please enter your email address.</div>
           <span></span>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password" required>
            <div class="invalid-feedback">Please enter your password.</div>
            <span></span>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
    </form>
    </div>
    <!-- Animation elements -->
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>



</div>