<a mat-list-item class="goback" (click)="checkChanges()">
    <mat-icon>keyboard_return</mat-icon>
</a>
<br>
<h3 class="col-xs-8 text-center"><b>{{diagramName?.res}}</b></h3>
<div class="floatAboveEverything" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only" id="loading"></span>
    </div>
</div>
<gojs-palette [initPalette]='initPalette' [nodeDataArray]='state.paletteNodeData' [divClassName]='paletteDivClassName'>
</gojs-palette>
<gojs-diagram #myDiag [initDiagram]='initDiagram' [nodeDataArray]='state.diagramNodeData'
        [linkDataArray]='state.diagramLinkData' [modelData]='state.diagramModelData'
        [skipsDiagramUpdate]='state.skipsDiagramUpdate' (modelChange)='diagramModelChange($event)'
        [divClassName]='diagramDivClassName'>
</gojs-diagram>

<div class="btn-div">
    <button class="btn btn-outline-primary space" id="saveModel" [disabled]='isChanged' (click)="clickSave()">Save</button>
    <button class="btn btn-outline-primary space" (click)="clickLoad()">Load</button>
</div>
<mat-divider></mat-divider>
<br>
<div>
    <p>User guide : </p>
    <ul>
        <li>Select a device with the left mouse button.</li>
        <li>Move a device arround using your mouse.</li>
        <li>You can change the link destination by moving the blue diamond shape towards another device.</li>
        <li>You can undo changes using Ctrl+z.</li>
        <li>You can redo changes using Ctrl+y.</li>
        <li>You can add a new device by draging it from the palette and droping into the canvas.</li>
        <li>Double click over the added device to view it attributs.</li>
        <li>See a device in full details by using your right mouse button.</li>
    </ul>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="modalClose()" id="add-edit-modal-close"></button>
            </div>
            <div class="modal-body">
                <app-show-brief-device [device]="device" *ngIf="activateShowDeviceDetailsComponent"></app-show-brief-device>
            </div>
        </div>
    </div>
</div>