.myDiagramDiv {
  background: whitesmoke;
  width: 85%;
  height: 90%;
  border: 1px solid black;
  margin: 10px;
  float:left;
}

.myPaletteDiv {
  background: whitesmoke;
  width: 10%;
  height: 90%;
  border: 1px solid black;
  margin: 10px;
  float:left;
}

.myPaletteBorder{
  border-radius: 25px;
  border: 2px solid #73AD21;
}


.btn-div {
  left: 0;
  bottom: 0;
  margin: 5px;
}
.space{
  margin-left: 5px;
}

.goback{
  color: blue;
  cursor: pointer;
}