.demo-table {
    width: 100%;
}

#add-success-alert,
#connection-success-alert,
#update-success-alert,
#delete-success-alert {
    display: none;
}

#add-success-alert,
#connection-success-alert,
#update-success-alert,
#delete-success-alert {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.startUpconfig{
    background-color: #34495e;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #ecf0f1;
    display: flex;
}
.startup {
    background-color: #34495e;
    font-size: 19px;
    color: #ecf0f1;
}
.Runningconfig {
    background-color: #2f8059;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #ecf0f1;
    display: flex;
}
.running {
    background-color: #2f8059;
    font-size: 19px;
    color: #ecf0f1;
}