:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.header-btn-class:hover {
  background-color: #caccce;
  color: rgb(44, 44, 44);
}
ul li {
  list-style: none;
}
img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.header{
  background-color:#23232E;
  color: whitesmoke;
}