<mat-card class="example-card">
    <mat-card-title>Assign to a topology</mat-card-title>
    <mat-card-content>
        <br>
        <div>
            <h3>Device Id : 1</h3>
        </div>
        <div>
        <select class="form-select" aria-label="topologies">
            <option selected>Available topologies</option>
            <option value="1">1 : Data Transfert</option>
            <option value="2">2 : Internal Messaging service</option>
            <option value="3">3 : External Data access</option>
        </select>
        </div>
        <br>
        <button class="btn btn-primary">
            Save
        </button>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>