<form  class="was-validated">
    <div class="mb-3">
        <label for="Email" class="form-label">Email*</label>
        <input type="text" class="form-control has-validation" required [(ngModel)]="email" name="email" [disabled]="user.id!=0">
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please check your inputs.
        </div>
    </div>
    <div class="mb-3" *ngIf="user.id==0">
        <label for="Password" class="form-label">Password*</label>
        <input type="password" class="form-control has-validation" required [(ngModel)]="password" name="password">
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please check your inputs.
        </div>
    </div>
    <div class="mb-3">
        <label for="Role" class="form-label">Role*</label>
        <select class="form-select" aria-label="User Roles" (change)="selectRole($event)" required>
            <option selected [(ngModel)]="role" name="role">{{user.role}}</option>
            <option value="ROLE_CTNAS_ADMIN" *ngIf="administratorRank==3">CTNAS Admin</option>
            <option value="ROLE_TENANT_ADMIN">Tenant Admin</option>
            <option value="ROLE_MODERATOR">Moderator</option>
        </select>
        <div class="invalid-feedback">Invalid select value.</div>
    </div>
    <button (click)="addUser()" *ngIf="user.id==0" class="btn btn-primary">
        Add
    </button>
    <button (click)="updateUserRole()" *ngIf="user.id!=0" class="btn btn-primary">
        Update
    </button>
</form>